footer {
  background-color: $light-black;
  div{
    max-width: 1000px;
    padding: 2em;
    margin: 0 auto;

  h3 {
    color: $white;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
  }
  ul {
    li {
      margin-bottom: 0.5em;
      a {
        color: $white;
        text-decoration: none;
        i {
          width: 10px;
          margin-right: 10px;
        }
      }
    }
  }

  }
  
}
@media screen and (min-width:1000px){
  footer{
    div{
      padding: 2em 0;
    }
  }
}
